.checkout-container {
	display: flex;
	flex-direction: row;

	.checkout {
		display: flex;
	}
	.card-element {
		padding: 20px;
		border: 10px solid crimson;
		display: flex;
		flex-direction: column;

		.InputElement {
			width: 200px;
		}
	}
}
