.checkout-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 200px 0 100px 0;
	width: 100%;

	.example {
		width: 50%;

		h1 {
			margin-left: 25px;
		}

		.checkout {
			display: flex;
			margin-left: 50px;
			// margin-top: 20px;
		}
	}
	.card-element {
		padding: 20px;
		border: 10px solid crimson;
		display: flex;
		flex-direction: column;

		.InputElement {
			width: 200px;
		}
	}
}
