.checkout-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto 0;
	.checkout {
		display: flex;
	}
	.card-element {
		padding: 20px;
		border: 10px solid crimson;
		display: flex;
		flex-direction: column;

		.InputElement {
			width: 200px;
		}
	}
}
