.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 95%;
	margin: auto;

	li {
		list-style: none;
		margin: auto 0;
		a {
			text-decoration: none;
			color: black;
		}
	}
}
