.login-page {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	width: 70%;

	margin: 200px auto;

	.login {
		border-right: 2px solid black;
		width: 100%;
	}
	.login-form {
		display: flex;
		flex-direction: column;
		input {
			width: 70%;
			margin: 0 auto;
			padding: 5px;
			border-radius: 50px;
			text-align: center;
		}

		#login-text {
			margin-top: 20px;
		}
	}
	#input-login {
		margin: 60px auto 10px auto;
	}
}
