.login {
	width: 50%;
	margin: auto;
}
.login-form {
	display: flex;
	flex-direction: column;
	input {
		width: 70%;
		margin: 0 auto;
		padding: 5px;
		border-radius: 50px;
		text-align: center;
	}

	#login-text {
		margin-top: 20px;
	}
}
#input-login {
	margin: 60px auto 10px auto;
}
